* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 6000px;
}

.Banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Banner .Background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white url("/assets/media/Moon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    mix-blend-mode: screen;
}